<Page class="page">
    <ActionBar class="action-bar" backgroundColor="#0A88A3" color="#fff">
        <ActionItem
                ios.systemIcon="18"
                ios.position="left"
                color="#000"
                (tap)="tap()"
        >
        </ActionItem>
        <NavigationButton #sider android.systemIcon="ic_menu_crop"></NavigationButton>
        <Label class="action-bar-title" text="DAILY COACH"></Label>
    </ActionBar>

   <AbsoluteLayout class="wrapper" orientation="vertical">
       <GridLayout  class="sider" width="80" top="0" left="0" height="100%" rows="*, *, *, *, *">
           <Button  text="Seg" class="calendar-button" row="0"></Button>
           <Button text="Ter" class="calendar-button" row="1"></Button>
           <Button text="Qua" class="calendar-button" row="2"></Button>
           <Button text="Qui" class="calendar-button" row="3"></Button>
           <Button text="Sex 1" class="calendar-button" row="4"></Button>
       </GridLayout>

       <StackLayout  class="main" width="100%" height="100%">
           <ListView [items]="items" style="padding-bottom: 10;separator-color: transparent">
               <ng-template>
                   <StackLayout class="item">
                       <Tarefa></Tarefa>
                   </StackLayout>
               </ng-template>
           </ListView>
       </StackLayout>
   </AbsoluteLayout>

</Page>